### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [106]:
import pandas as pd
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [107]:
player_count = pd.DataFrame({"Total Players":[len(purchase_data.SN.unique())]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [108]:
#Let's see number of item ids and item names match
renamed_df = purchase_data.rename(columns={"Item ID":"item_id", "Item Name":"item_name"})
num_uniqueitems = len(renamed_df.item_id.unique())
#len(renamed_df.item_name.unique())
#Both columns have same amount of values so there is no missing value
#There is no typo in column Item_Name

ave_price = purchase_data["Price"].mean()
price_count = purchase_data["Price"].count()
total_price = purchase_data["Price"].sum()

#summary dataframe
purchasing_analysis = {"Number of Unique Items":[num_uniqueitems], "Average Price":[ave_price], 
                       "Number of Purchases":[price_count], "Total Revenue":[total_price]}
purchasing_analysis = pd.DataFrame(purchasing_analysis)

#format and display
purchasing_analysis.style.format({"Average Price":"${:,.2f}", "Total Revenue": '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [109]:
#Let's see what gender values we have or is there a nan value
unique_pd = purchase_data.Gender.unique()
unique_pd

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [110]:
# player_count = pd.DataFrame({"Total Players":[len(purchase_data.SN.unique())]})

unique_pd = purchase_data.drop_duplicates(subset="SN", keep='first')
grouped_pd = unique_pd.groupby("Gender")
genders = grouped_pd["Gender"].count()
total_players = len(purchase_data.SN.unique())
percentage = genders/total_players*100

#summary dataframe
gender_demo = {"Total Count":genders, "Percentage of Players":percentage}
gender_demo = pd.DataFrame(gender_demo)

#format and display
gender_demo.style.format({"Percentage of Players":"%{:,.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [111]:
grouped_bygender = purchase_data.groupby("Gender")
purchase_count = grouped_bygender["Price"].count()
purchase_ave = grouped_bygender["Price"].mean()
purchase_total = grouped_bygender["Price"].sum()
purchase_avepp = purchase_total/genders

#summary dataframe
gender_analysis = {"Purchase Count":purchase_count, "Average Purchase Price":purchase_ave, 
                   "Total Purchase Value":purchase_total, "Avg Total Purchase per Person":purchase_avepp}
gender_analysis = pd.DataFrame(gender_analysis)

#format and display
gender_analysis.style.format({"Total Purchase Value":"${:,.2f}", "Average Purchase Price":"${:,.2f}", 
                              "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [131]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 100]
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_ranges, include_lowest=True)

unique_pd = purchase_data.drop_duplicates(subset="SN", keep='first')
grouped_pd = unique_pd.groupby("Age Ranges")
ages = grouped_pd["Age Ranges"].count()
total_players = len(purchase_data.SN.unique())
age_percentage = ages/total_players*100

#summary dataframe
age_demo = {"Total Count":ages, "Percentage of Players":age_percentage}
age_demo = pd.DataFrame(age_demo)

#format and display
age_demo.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [166]:
grouped_byage = purchase_data.groupby("Age Ranges")
purchase_count = grouped_byage["Price"].count()
purchase_ave = grouped_byage["Price"].mean()
purchase_total = grouped_byage["Price"].sum()
purchase_avepp = purchase_total/total_players

#summary dataframe
age_analysis = {"Purchase Count":purchase_count, "Average Purchase Price":purchase_ave, 
                   "Total Purchase Value":purchase_total, "Avg Total Purchase per Person":purchase_avepp}
age_analysis = pd.DataFrame(age_analysis)

#format and display
age_analysis.style.format({"Total Purchase Value":"${:,.2f}", "Average Purchase Price":"${:,.2f}", 
                              "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [163]:
grouped_bysn = purchase_data.groupby("SN")
purchase_count = grouped_bysn["SN"].count()
purchase_ave = grouped_bysn["Price"].mean()
purchase_total = grouped_bysn["Price"].sum()

top_spenders = {"Purchase Count":purchase_count, "Average Purchase Price":purchase_ave, 
                   "Total Purchase Value":purchase_total}

top_spenders = pd.DataFrame(top_spenders)
spenders_sorted = top_spenders.sort_values("Total Purchase Value", ascending = False)
#format
spenders_sorted["Average Purchase Price"] = spenders_sorted["Average Purchase Price"].map("${:,.2f}".format)
spenders_sorted["Total Purchase Value"] = spenders_sorted["Total Purchase Value"].map("${:,.2f}".format)
#display
spenders_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [161]:
grouped_byitems = purchase_data.groupby(["Item ID", "Item Name"])
purchase_count = grouped_byitems["SN"].count()
purchase_ave = grouped_byitems["Price"].mean()
purchase_total = grouped_byitems["Price"].sum()

popular_items = {"Purchase Count":purchase_count, "Average Purchase Price":purchase_ave, 
                   "Total Purchase Value":purchase_total}

popular_items = pd.DataFrame(popular_items)
popular_items_sorted = popular_items.sort_values("Purchase Count", ascending = False)
#format
popular_items_sorted["Average Purchase Price"] = popular_items_sorted["Average Purchase Price"].map("${:,.2f}".format)
popular_items_sorted["Total Purchase Value"] = popular_items_sorted["Total Purchase Value"].map("${:,.2f}".format)
#display
popular_items_sorted.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [162]:
mostprofitable_items = popular_items.sort_values("Total Purchase Value", ascending = False)
#format
mostprofitable_items["Average Purchase Price"] = mostprofitable_items["Average Purchase Price"].map("${:,.2f}".format)
mostprofitable_items["Total Purchase Value"] = mostprofitable_items["Total Purchase Value"].map("${:,.2f}".format)
#display
mostprofitable_items.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80